/.ipynb_checkpoints
/24 - Sklearn _ Apprentissage Non-supervisé.ipynb
/28 - Prétraitement de données (Corrigé).ipynb
/A comparison of several classifiers.ipynb
/Accuracy_Comparison.png
/Accuracy_vs_Anomaly_Percentage.eps
/Accuracy_vs_Anomaly_Percentage.png
/Accuracy_vs_Anomaly_Percentage.svg
/anomalie detectiom TM 2.ipynb
/anomalie detection TM.ipynb
/ANomaly detection Comparing model.ipynb
/anomaly_detection_results.csv
/archive.zip
/AUC-ROC_Comparison.png
/AUC-ROC_vs_Anomaly_Percentage.eps
/AUC-ROC_vs_Anomaly_Percentage.png
/AUC-ROC_vs_Anomaly_Percentage.svg
/blockchain.ipynb
/Covid.ipynb
/dataset.xlsx
/Deep-Learning-Youtube-main
/Deep-Learning-Youtube-main.zip
/F1 Score_Comparison.png
/F1 Score_vs_Anomaly_Percentage.eps
/F1 Score_vs_Anomaly_Percentage.png
/F1 Score_vs_Anomaly_Percentage.svg
/gdpr_performance.log
/good scipt TM comparaison.ipynb
/highlighted_model_evaluation_results.csv
/Hybride TM.ipynb
/liste-dictionnaire-fct.ipynb
/MCC_Comparison.png
/ML.pdf
/model-selection IRIS.ipynb
/model_comparison_results.csv
/model_evaluation_results - Copie.csv
/model_evaluation_results.csv
/Nice done-good scipt TM comparaison.ipynb
/nice-done TWO TM.ipynb
/not very good one-with ISO-LOF-auto-oneclass-SVM---.ipynb
/package.ipynb
/plus
/Precision_Comparison.png
/Precision_vs_Anomaly_Percentage.eps
/Precision_vs_Anomaly_Percentage.png
/Precision_vs_Anomaly_Percentage.svg
/Python-Machine-Learning-master
/Recall_Comparison.png
/Recall_vs_Anomaly_Percentage.eps
/Recall_vs_Anomaly_Percentage.png
/Recall_vs_Anomaly_Percentage.svg
/regression lineaire polynomiale.ipynb
/regression-lineaire.ipynb
/regression-multiple3.ipynb
/regression_lineaire_2features.ipynb
/regression_multiple2.ipynb
/Sans nom 1.odt
/SESN-GDPR.ipynb
/SGDRegressor.ipynb
/SImulation with 10000.ipynb
/SImulation with 5000.ipynb
/synthetic_data_with_anomalies.csv
/Tecnológico de Monterrey – presentation.zip
/test_data.csv
/test_data_10.csv
/test_data_20.csv
/test_data_5.csv
/test_data_50.csv
/test_data_80.csv
/the final script 31-07-2024 .ipynb
/Titanic.ipynb
/TM-29-07-2024.ipynb
/train_data.csv
/train_data_10.csv
/train_data_20.csv
/train_data_5.csv
/train_data_50.csv
/train_data_80.csv
/trsut metrci precision and comparison.ipynb
/trust metric 1.ipynb
/trust metric 2.ipynb
/trust metric 3.ipynb
/Untitled.ipynb
/untitled.py
/untitled.txt
/Untitled1.ipynb
/Untitled2.ipynb
/well-done 30-07-2024-Good one.ipynb