/.ipynb_checkpoints
/Deep-Learning-Youtube-main
/Deep-Learning-Youtube-main.zip
/plus
/Python-Machine-Learning-master
/Recall_Comparison.png
/Recall_vs_Anomaly_Percentage.eps
/Recall_vs_Anomaly_Percentage.png
/Recall_vs_Anomaly_Percentage.svg
/regression lineaire polynomiale.ipynb
/regression-lineaire.ipynb
/regression-multiple3.ipynb
/regression_lineaire_2features.ipynb
/regression_multiple2.ipynb
/Sans nom 1.odt
/SESN-GDPR.ipynb
/SGDRegressor.ipynb
/SImulation with 10000.ipynb
/SImulation with 5000.ipynb
/synthetic_data_with_anomalies.csv
/Tecnológico de Monterrey – presentation.zip
/test_data.csv
/test_data_10.csv
/test_data_20.csv
/test_data_5.csv
/test_data_50.csv
/test_data_80.csv
/the final script 31-07-2024 .ipynb
/Titanic.ipynb
/TM-29-07-2024.ipynb
/train_data.csv
/train_data_10.csv
/train_data_20.csv
/train_data_5.csv
/train_data_50.csv
/train_data_80.csv
/trsut metrci precision and comparison.ipynb
/trust metric 1.ipynb
/trust metric 2.ipynb
/trust metric 3.ipynb
/Untitled.ipynb
/untitled.py
/untitled.txt
/Untitled1.ipynb
/Untitled2.ipynb
/well-done 30-07-2024-Good one.ipynb